    <%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(hasProducts) { %>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.title %> </h1>
                        <h2>Quantity: <%= p.cartItem.quantity %> </h2> <!-- cartItem (extra field that gets edited by sequelize to give us access to between table) and quantity is find inside the model cartItemModel -->
                        <form action="/cartDeleteItem" method="POST">
                            <button class="btn danger" type="submit">Delete</button>
                            <input type="hidden" value="<%= p.id %>" name="productId">
                        </form>
                    </li>
                <% }) %>
            </ul>

            <br>
            
            <div class="centered">
                <form action="/createOrder" method="POST">
                    <button type="submit" class="btn">Order Now</button>
                </form>
            </div>
            
        <% } else { %>
            <h1>NO PRODUCTS</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>